apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: api-${VERSION}
  namespace: api-crud-garat
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "5"
    spec:
      containers:
        - image: ${DOCKER_USERNAME}/api:${VERSION}
          env:
            - name: DB_CONNECTION_STRING
              value: "${DB_CONNECTION_STRING}"
            - name: LOKI_URL
              value: "${LOKI_URL}"
