name: Checkout and Version

on:
  workflow_call:

jobs:
  checkout:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.get_version.outputs.version }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Get version from Git tag
      id: get_version
      run: |
        # Extrait la version depuis le tag (exemple v1.2.3 -> 1.2.3)
        VERSION="${GITHUB_REF#refs/tags/v}"
        echo "version=$VERSION" >> $GITHUB_OUTPUT
