name: Build & Push API image

on:
  workflow_call:
    inputs:
      version:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push API image (classic docker)
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/garat-api:${{ inputs.version }} \
            -t ${{ secrets.DOCKER_HUB_USERNAME }}/garat-api:latest .
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/garat-api:${{ inputs.version }}
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/garat-api:latest
