name: GCloud Setup

on:
  workflow_call:
    inputs:
      gcp_sa_key:
        required: true
        type: string
      gcp_project_id:
        required: true
        type: string
      gcp_region:
        required: true
        type: string

jobs:
  gcloud_setup:
    runs-on: ubuntu-latest

    steps:
      - name: Install gcloud CLI
        run: |
          curl https://sdk.cloud.google.com | bash
          source $HOME/google-cloud-sdk/path.bash.inc
          gcloud --version

      - name: Authenticate with GCP
        run: |
          echo "${{ inputs.gcp_sa_key }}" > "${HOME}/gcp-key.json"
          gcloud auth activate-service-account --key-file="${HOME}/gcp-key.json"
          gcloud config set project "${{ inputs.gcp_project_id }}"
          gcloud config set run/region "${{ inputs.gcp_region }}"
