name: CI/CD Google Cloud Run

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: "gcr.io/${{ secrets.GCP_PROJECT_ID }}/api"

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1
      with:
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        project_id: ${{ secrets.GCP_PROJECT_ID }}

    - name: Configure Docker for GCR
      run: | 
        gcloud auth configure-docker

    - name: Build Docker image
      run: |
        docker build -t $IMAGE_NAME:${{ github.sha }} .

    - name: Push Docker image to GCR
      run: |
        docker push $IMAGE_NAME:${{ github.sha }}

    - name: Setup variables and generate deployment file
      run: |
        VERSION=${{ github.sha }}
        DB_CONN="mysql://${{ secrets.DB_USER }}:${{ secrets.DB_PASSWORD }}@/$(echo ${{ secrets.DB_NAME }})?unix_socket=/cloudsql/${{ secrets.CLOUD_SQL_CONNECTION_NAME }}"
        sed -e "s|\${VERSION}|$VERSION|g" \
            -e "s|\${DOCKER_USERNAME}|$IMAGE_NAME|g" \
            -e "s|\${DB_CONNECTION_STRING}|$DB_CONN|g" \
            -e "s|\${LOKI_URL}|${{ secrets.LOKI_URL }}|g" \
            cloud-run-service.yaml.template > cloud-run-service.yaml

    - name: Deploy to Cloud Run
      run: |
        gcloud run services replace cloud-run-service.yaml --region=${{ secrets.GCP_REGION }}

